# OMNeT++ / C++ Build Artifacts
out/ 
*.o 
*.so 
*.a *~
AdvancedNetworksProject
# Simulation Results & Logs
results/ 
*.vec 
*.sca 
*.vci 
*.elog 
*.pcap
.nedignore
# configurations
.vscode/ 
*.swp
.DS_Store
.settings/
.cproject
.oppbuildspec
.qtenvrc
.project
Makefile.*
Makefile*
*.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
